# Imports

In [102]:
import pandas as pd
import json
import os

# Functions

In [29]:
def read_json(file):
    """Reads a json file"""
    with open(file, 'r') as fp:
        data = json.load(fp)
    return data

In [22]:
def mount_file_dict(raw_dict, variable_list):
    """Mount the dictionary with the variables"""
    dict_with_var = {}
    for file in list(raw_dict.keys()):
        dict_with_var[file] = {variable: raw_dict[file][i]
                                   for i, variable in enumerate(variable_list)}
    return dict_with_var

In [145]:
def transform_codcet(series):
    return series

def transform_datahora(series):
    try:
        date_series = pd.to_datetime(series)
    except:
        date_series = pd.to_datetime(series, format='%d%m%Y%H%M%S')
    
    date_formatted_series = date_series.dt.strftime('%Y%m%d %H:%M:%S')

    return date_formatted_series

def transform_placa(series):
    return series

def transform_velocidade(series):
    velocidade_series = series.apply(int)
    
    return velocidade_series

def transform_gct(series):
    return series

def transform_coordinates(series):
    # Removing punctuation.
    coordinates_clean = series.str.replace(',', '').str.replace('.', '')
    # Inserting '.'.
    coordinate_formatted = (coordinates_clean.str[:3]
                            + '.'
                            + coordinates_clean.str[3:])
    
    return coordinate_formatted

def transform_latitude(series):
    return transform_coordinates(series)

def transform_longitude(series):
    return transform_coordinates(series)

In [149]:
def robot(contracted_name, files_config):
    """Extract files, transform and load them as csv"""

    variable_dict = mount_file_dict(files_config['raw_dict'],
                                    files_config['variable_list'])
    
    folder_sample = files_config['folder_sample']
    folder_csv = files_config['folder_csv']
    
    for file in os.listdir(folder_sample):
        if contracted_name in file:
            file_name = file
    
    full_file_path = '/'.join([folder_sample, file_name])

    print(f'Converting {file_name}...')
    
    df = pd.read_csv(full_file_path, sep='|', names = ['x'])
    
    # Looping through each column needed
    for var in variable_dict[contracted_name].keys():
        
        # Getting intervals from dict config_file
        inf_lim, sup_lim = tuple(variable_dict[contracted_name][var])
        
        # Creating columns slicicing the original column
        df[var] = df['x'].str[inf_lim: sup_lim]
        
        # Transforming each column
        df[var] = globals()[f'transform_{var.lower()}'](df[var])
    
    # Dropping original column
    df.drop(columns=['x'], inplace=True)
    
    # Loading CSV
    df.to_csv(f'{folder_csv}/{file_name}.csv', sep=';', index=False)
    
    return df

# Reading Config File

In [158]:
files_config = read_json('files_config.json')

# Transformation

## Movimento_OCR

In [151]:
robot('movimento_OCR', files_config)

Converting movimento_OCR_JAN_2019.txt_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0410191112,20190101 00:00:00,KPV6877,39,041,-22.93380,-43.18294
1,0410121122,20190101 00:00:01,LQR8247,34,041,-22.97019,-43.41377
2,0410241111,20190101 00:00:01,ETP1890,40,041,-22.93149,-43.20888
3,0410161111,20190101 00:00:01,KXL9916,25,041,-22.92479,-43.38907
4,0410381122,20190101 00:00:01,LPU2287,44,041,-23.01267,-43.38900
...,...,...,...,...,...,...,...
95,0410101111,20190101 00:00:44,KXO8345,47,041,-22.94346,-43.37263
96,0410041111,20190101 00:00:45,LQQ6729,40,041,-22.99365,-43.30290
97,0410361121,20190101 00:00:45,PWK5435,51,041,-23.01997,-43.43618
98,0410431112,20190101 00:00:46,,64,041,-22.87778,-43.32760
99,0410311111,20190101 00:00:46,,57,041,-22.88907,-43.56765

## SCP_TRANSCARIOCA

In [152]:
robot('SCP_TRANSCARIOCA', files_config)

Converting SCP_TRANSCARIOCA_0222016_201903_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0440021120,20190301 00:10:31,-------,9,044,-22.87280,-43.33629
1,0440021120,20190301 00:10:44,-------,24,044,-22.87280,-43.33629
2,0440021120,20190301 00:10:44,-------,19,044,-22.87280,-43.33629
3,0440021120,20190301 00:10:46,-------,28,044,-22.87280,-43.33629
4,0440021120,20190301 00:10:48,-------,30,044,-22.87280,-43.33629
...,...,...,...,...,...,...,...
95,0440021120,20190301 00:22:46,-------,26,044,-22.87280,-43.33629
96,0440021120,20190301 00:23:26,-------,9,044,-22.87280,-43.33629
97,0440021120,20190301 00:23:40,LLP4408,7,044,-22.87280,-43.33629
98,0440021120,20190301 00:23:43,-------,13,044,-22.87280,-43.33629
99,0440021120,20190301 00:23:45,-------,17,044,-22.87280,-43.33629

## SCP_RADAR_RIO_SITRAN

In [153]:
robot('SCP_RADAR_RIO_SITRAN', files_config)

Converting SCP_RADAR_RIO_SITRAN_0232015_201903_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0400141110,20190301 10:26:30,-------,53,040,-22.90393,-43.27340
1,0400141110,20190301 10:26:31,-------,41,040,-22.90393,-43.27340
2,0400141110,20190301 10:26:34,-------,49,040,-22.90393,-43.27340
3,0400141110,20190301 10:49:09,LQS5658,48,040,-22.90393,-43.27340
4,0400141110,20190301 10:49:10,FLT2044,46,040,-22.90393,-43.27340
...,...,...,...,...,...,...,...
95,0400141110,20190301 10:54:26,-------,51,040,-22.90393,-43.27340
96,0400141110,20190301 10:54:28,KNV7474,47,040,-22.90393,-43.27340
97,0400141110,20190301 10:54:30,-------,51,040,-22.90393,-43.27340
98,0400141110,20190301 10:54:37,-------,40,040,-22.90393,-43.27340
99,0400141110,20190301 10:54:37,-------,40,040,-22.90393,-43.27340

## SCP_INTVIA

In [154]:
robot('SCP_INTVIA', files_config)

Converting SCP_INTVIA_0182018_201901_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0480091110,20190101 00:00:02,-------,15,048,-22.96635,-43.21941
1,0480091110,20190101 00:00:04,LSY8484,17,048,-22.96635,-43.21941
2,0480091110,20190101 00:00:07,-------,14,048,-22.96635,-43.21941
3,0480091110,20190101 00:00:22,-------,29,048,-22.96635,-43.21941
4,0480091110,20190101 00:00:44,-------,43,048,-22.96635,-43.21941
...,...,...,...,...,...,...,...
95,0480091110,20190101 00:26:29,-------,4,048,-22.96635,-43.21941
96,0480091110,20190101 00:26:35,-------,53,048,-22.96635,-43.21941
97,0480091110,20190101 00:26:38,-------,56,048,-22.96635,-43.21941
98,0480091110,20190101 00:26:39,-------,51,048,-22.96635,-43.21941
99,0480091110,20190101 00:26:43,-------,50,048,-22.96635,-43.21941

## FISCALTECH

In [156]:
robot('FISCALTECH', files_config)

Converting FISCALTECH_0042016_06_2019.txt_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0420061113,20190601 03:27:09,,18,042,-23.000409,-43.334161
1,0420171211,20190601 01:16:43,,51,042,. 00,. 00
2,0420071124,20190601 01:12:01,,50,042,-23.001615,-43.328645
3,0420061114,20190601 03:30:47,,21,042,-23.000409,-43.334161
4,0420111113,20190601 03:28:09,,14,042,-22.963859,-43.394382
...,...,...,...,...,...,...,...
95,0420061212,20190601 03:14:49,,55,042,-23.000304,-43.334543
96,0420141113,20190601 03:36:44,,53,042,-22.981353,-43.409694
97,0420121113,20190601 03:19:05,,55,042,-22.967687,-43.397829
98,0420111122,20190601 01:14:05,,58,042,-22.963742,-43.394364
99,0420111123,20190601 03:14:59,,53,042,-22.963742,-43.394364

## SPLICE

In [157]:
robot('SPLICE', files_config)

Converting SPLICE_0072018_20190205_.txt_amostra.txt...

,CODCET,DATAHORA,PLACA,VELOCIDADE,GCT,LATITUDE,LONGITUDE
0,0450381112,20190101 00:00:01,,59,045,-22.98468,-43.21814
1,0045054111,20190101 00:00:03,,55,004,-22.95759,-43.19957
2,0450441112,20190101 00:00:05,,58,045,-22.98537,-43.20337
3,0450681111,20190101 00:00:22,,39,045,-22.98475,-43.20046
4,0450451112,20190101 00:00:22,,58,045,-22.98481,-43.20567
...,...,...,...,...,...,...,...
95,0045054111,20190101 00:08:14,,34,004,-22.95759,-43.19957
96,0450291112,20190101 00:08:20,,59,045,-22.94931,-43.18919
97,0450071112,20190101 00:08:24,,19,045,-22.97663,-43.19036
98,0450521122,20190101 00:08:24,,44,045,-22.91264,-43.20387
99,0450521122,20190101 00:08:26,,50,045,-22.91264,-43.20387